:8080 {
log
encode gzip

# 1. Rutas de API

handle /_upload* {
    # CAMBIO CLAVE: De localhost a 127.0.0.1
    reverse_proxy 127.0.0.1:8000
}

handle /_event* {
    # CAMBIO CLAVE: De localhost a 127.0.0.1
    reverse_proxy 127.0.0.1:8000
}

handle /ping {
    # CAMBIO CLAVE: De localhost a 127.0.0.1
    reverse_proxy 127.0.0.1:8000
}

# 2. Archivos estáticos
handle {
    root * .web/_static
    try_files {path} {path}/ /index.html
    file_server
}


}
