{
    admin off
    auto_https off
}

:8080 {
    log
    encode gzip

    # 1. Definimos las rutas de la API (Backend de Python)
    route /_upload* /_event* /ping {
        reverse_proxy localhost:8000
    }

    # 2. Servimos archivos estáticos (Frontend, Assets, HTML)
    root * .web/_static
    
    # Intenta servir el archivo solicitado, si no existe, sirve index.html
    try_files {path} {path}/ /index.html
    file_server
}
