:8080 {
    log
    encode gzip

    # 1. Rutas de API (Manejo explícito de la subida y eventos)
    
    handle /_upload* {
        reverse_proxy localhost:8000
    }
    
    handle /_event* {
        reverse_proxy localhost:8000
    }
    
    handle /ping {
        reverse_proxy localhost:8000
    }

    # 2. Archivos estáticos (Frontend)
    handle {
        root * .web/_static
        try_files {path} {path}/ /index.html
        file_server
    }
}
